@import "constants.scss";

.unstyled-input {
    font-family: monospace;
    width: 100%;
    margin: 0;
    background: none;
    outline: none;
    border: none;
    color: #eee;
    font-size: 1em;
}

.left {
    position: absolute;
    top: $header-height;
    left: 0;
    right: 50%;
    bottom: 0;
    background: #eee;
    padding: $standard-padding;

    textarea {
        height: 100%;
        color: #111;
    }
}

.despot {
    position: absolute;
    bottom: $standard-padding;
    right: $standard-padding;
}

.right {
    position: absolute;
    top: $header-height;
    right: 0;
    left: 50%;
    bottom: 0;
    background: #fff;
    padding: $standard-padding;
    overflow: auto;

    .entry {
        width: auto;
        background: none;
        padding: 0;
    }
}