.unstyled-input {
  font-family: monospace;
  width: 100%;
  margin: 0;
  background: none;
  outline: none;
  border: none;
  color: #eee;
  font-size: 1em; }

.left {
  position: absolute;
  top: 60px;
  left: 0;
  right: 50%;
  bottom: 0;
  background: #eee;
  padding: 10px; }
  .left textarea {
    height: 100%;
    color: #111; }

.despot {
  position: absolute;
  bottom: 10px;
  right: 10px; }

.right {
  position: absolute;
  top: 60px;
  right: 0;
  left: 50%;
  bottom: 0;
  background: #fff;
  padding: 10px;
  overflow: auto; }
  .right .entry {
    width: auto;
    background: none;
    padding: 0; }
