@import "constants.scss";

.header {
    $height: 60px;

    background: #333533;
    line-height: $height;
    color: #fff;
    text-align: right;

    .user-image {
        height: 40px;
        width: 40px;
        display: inline-block;
        vertical-align: middle;
        margin-right: $standard-padding;
    }

    a, span {
        display: inline-block;
        height: $height - 2px;
        border: 1px solid #333533;
        border-left: 1px solid #222;
        height: 100%;
        padding: 0 $standard-padding * 2;

        &:last-child {
            border-right: 1px solid #222;
        }
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            background: #444;
        }
    }
}

.content {
    margin-top: $standard-padding;
}


.entry {
    background: #fff;
    padding: $standard-padding * 2;
    margin-top: $standard-padding;

        a {
        color: rgb(34, 34, 34);

        &:hover {
            color: rgb(100, 100, 100);
        }
    }
}

.writing {
    font-family: 'Droid Serif', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-style: normal;
    font-weight: 400;
    color: rgb(34, 34, 34);

    p:first-child {
        margin-top: 0;
        padding-top: 0;
    }

    img {
        max-width: 100%;
    }

    pre {
        background: #eee;
        padding: $standard-padding;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    code {
        color: rgb(10, 10, 10);
    }
}