body {
  font-family: 'Open Sans', sans-serif;
  background: #eee;
  padding: 0;
  margin: 0; }

::-webkit-input-placeholder {
  color: #49baa5; }

::-moz-placeholder {
  color: #49baa5; }

/* firefox 19+ */
:-ms-input-placeholder {
  color: #49baa5; }

/* ie */
input:-moz-placeholder {
  color: #49baa5; }

p:first-child {
  margin-top: 0; }

p:last-child {
  margin-bottom: 0; }

.input {
  font-family: 'Open Sans', sans-serif;
  display: block;
  margin: 0;
  width: 100%;
  border: 1px solid #49baa5;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  font-size: 1em; }

.input-larger {
  height: 200px; }

.float-right {
  float: right; }

.x {
  color: #999;
  text-decoration: none; }

.note {
  margin: auto;
  background: #fff;
  max-width: 600px;
  margin-top: 20px; }
  .note .content {
    padding: 20px; }
  .note .header {
    padding: 10px;
    background: #333;
    color: #fff; }
  .note h1, .note h2, .note h3, .note h4, .note h5, .note h6 {
    margin-top: 0; }

.button {
  background: #49baa5;
  color: white;
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
  text-decoration: none; }
  .button:hover {
    background: #6ec8b7; }

.header {
  background: #fff;
  border-bottom: 1px solid #ccc; }

.nav {
  max-width: 600px;
  padding: 20px;
  margin: auto; }
