$accent: #6CAD57;
$font-size: 14px;
$standard-padding: 10px;

body, html {
    background: #eee;
    font-family: sans-serif;
    font-size: $font-size;
    margin: 0;
    padding: 0;
}

//
// General
//

.button {

    padding: $standard-padding;
    display: inline-block;
    text-decoration: none;
    text-align: center;

    background: #eee;
    color: #333;
    border: 1px solid #aaa;

    &:hover {
        background: lighten(#eee, 10%);
    }

    &.primary {
        background: $accent;
        color: #fff;
        border: 1px solid $accent;

        &:hover {
            background: lighten($accent, 10%);
        }
    }
}

.small-fish {
    background: url('/static/img/jellyfish.png') no-repeat center center;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin: $standard-padding;

    height: 30px;
    width: 30px;

    &.white {
        background: url('/static/img/jellyfish_white.png') no-repeat center center;
        background-size: contain;
    }

    &.center {
        display: block;
        margin: auto;
        margin-bottom: $standard-padding;
    }
}

//
// Main Application
//

.header {
    $height: 60px;

    background: #333533;
    line-height: $height;
    color: #fff;
    text-align: right;

    .right-box {
        display: inline-block;
        height: $height;
        border-left: 1px solid #222;
        height: 100%;
        padding: 0 $standard-padding * 2;
    }

    .user-image {
        height: 40px;
        width: 40px;
        display: inline-block;
        vertical-align: middle;
        margin-right: $standard-padding;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            background: #444;
        }
    }
}

.content {
    max-width: 800px;
    margin: auto;
    margin-top: $standard-padding * 2;
}

.entries {
    .add-entry {
        background: $accent;
        padding: $standard-padding;
    }

    .entry {
        background: #fff;
        padding: $standard-padding * 2;
        margin-top: $standard-padding;
    }

    .writing {
        font-family: 'Droid Serif', sans-serif;
        font-size: 16px;
        line-height: 1.5em;
        font-style: normal;
        font-weight: 400;
        color: rgb(34, 34, 34);

        p:first-child {
            margin-top: 0;
            padding-top: 0;
        }
    }

    a {
        color: rgb(34, 34, 34);

        &:hover {
            color: rgb(100, 100, 100);
        }
    }
}

//
// Add.html
//

.unstyled-input {
    font-family: monospace;
    width: 100%;
    margin: 0;
    background: none;
    outline: none;
    border: none;
    color: #eee;
    font-size: 1em;
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    background: pink;
    background: #333;
    padding: $standard-padding;

    textarea {
        height: 100%;
    }
}

.despot {
    position: absolute;
    bottom: $standard-padding;
    right: $standard-padding;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
    padding: $standard-padding;
    overflow: auto;
}

//
// Sign In Application
//

.login-container {
    $width: 250px;
    $height: 200px;

    position: absolute;
    top: 50%;
    left: 50%;

    width: $width;
    height: $height;
    margin-top: -$height/2;
    margin-left: -$width/2;

    font-size: $font-size;

    .text-input {
        width: $width - $standard-padding * 2;
        border: 1px solid #aaa;
        outline: none;
        padding: $standard-padding;
        margin-top: $standard-padding / 2;

        font-size: $font-size;

                transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
           -moz-transition: all 0.25s ease-in-out;

        &:focus {
            border: 1px solid $accent;

                    box-shadow: 0 0 5px $accent;
            -webkit-box-shadow: 0 0 5px $accent;
               -moz-box-shadow: 0 0 5px $accent;
        }
    }

    .submit {

        /* Browser bug: buttons render differently than input boxes. */
           -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;

        width: $width - $standard-padding * 2;
        padding: $standard-padding;
        margin-top: $standard-padding / 2;
        background: $accent;
        color: #fff;
        display: inline-block;
        text-decoration: none;
        border: 1px solid $accent;
        text-align: center;

        &:hover {
            background: lighten($accent, 10%);
        }
    }

    .failed-login {
        width: $width;
        margin-top: $standard-padding;
        opacity: 0;

                transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
           -moz-transition: all 0.25s ease-in-out;

        &.active {
            opacity: 1;
        }
    }
}