@import "constants.scss";

body, html {
    background: #eee;
    font-family: sans-serif;
    font-size: $font-size;
    margin: 0;
    padding: 0;
    padding-bottom: $standard-padding;
}

.container {
    max-width: 800px;
    margin: auto;

    .basic-sub {
        background: #fff;
        padding: $standard-padding * 2;
    }
}

.float-left {
    float: left;
}

.loading {
    $size: 32px;
    background: url(/static/img/loading.gif);
    width: $size;
    height: $size;

    &.center {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -1 * $size / 2;
        margin-left: -1 * $size / 2;
    }
}

.header {
    background: #333533;
    line-height: $header-height;
    height: $header-height;
    color: #fff;
    text-align: right;

    .user-image {
        height: 40px;
        width: 40px;
        display: inline-block;
        vertical-align: middle;
        margin-right: $standard-padding;
    }

    a, span {
        display: inline-block;
        height: $header-height - 2px;
        border: 1px solid #333533;
        border-left: 1px solid #222;
        padding: 0 $standard-padding * 2;

        &:last-child {
            border-right: 1px solid #222;
        }
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            background: #444;
        }
    }
}

.button {
    padding: $standard-padding;
    display: inline-block;
    text-decoration: none;
    text-align: center;

    background: #eee;
    color: #333;
    border: 1px solid #aaa;

    &:hover {
        background: lighten(#eee, 10%);
    }

    &.primary {
        background: $accent;
        color: #fff;
        border: 1px solid $accent;

        &:hover {
            background: lighten($accent, 10%);
        }
    }
}

@import "home.scss";
@import "add.scss";
@import "login.scss";