body, html {
  background: #eee;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  padding-bottom: 10px; }

.button {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background: #eee;
  color: #333;
  border: 1px solid #aaa; }
  .button:hover {
    background: white; }
  .button.primary {
    background: #6cad57;
    color: #fff;
    border: 1px solid #6cad57; }
    .button.primary:hover {
      background: #8abe79; }

.header {
  background: #333533;
  line-height: 60px;
  color: #fff;
  text-align: right; }
  .header .right-box {
    display: inline-block;
    height: 60px;
    border-left: 1px solid #222;
    height: 100%;
    padding: 0 20px; }
  .header .user-image {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; }
  .header a {
    color: #fff;
    text-decoration: none; }
    .header a:hover {
      background: #444; }

.content {
  max-width: 800px;
  margin: auto;
  margin-top: 20px; }

.entries .add-entry {
  background: #6cad57;
  padding: 10px; }
.entries .entry {
  background: #fff;
  padding: 20px;
  margin-top: 10px; }
.entries .writing {
  font-family: 'Droid Serif', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-style: normal;
  font-weight: 400;
  color: #222222; }
  .entries .writing p:first-child {
    margin-top: 0;
    padding-top: 0; }
.entries a {
  color: #222222; }
  .entries a:hover {
    color: #646464; }

.unstyled-input {
  font-family: monospace;
  width: 100%;
  margin: 0;
  background: none;
  outline: none;
  border: none;
  color: #eee;
  font-size: 1em; }

.left {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  background: pink;
  background: #333;
  padding: 10px; }
  .left textarea {
    height: 100%; }

.despot {
  position: absolute;
  bottom: 10px;
  right: 10px; }

.right {
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  bottom: 0;
  padding: 10px;
  overflow: auto; }

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 200px;
  margin-top: -100px;
  margin-left: -125px;
  font-size: 14px; }
  .login-container .text-input {
    width: 230px;
    border: 1px solid #aaa;
    outline: none;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out; }
    .login-container .text-input:focus {
      border: 1px solid #6cad57;
      box-shadow: 0 0 5px #6cad57;
      -webkit-box-shadow: 0 0 5px #6cad57;
      -moz-box-shadow: 0 0 5px #6cad57; }
  .login-container .submit {
    /* Browser bug: buttons render differently than input boxes. */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 230px;
    padding: 10px;
    margin-top: 5px;
    background: #6cad57;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #6cad57;
    text-align: center; }
    .login-container .submit:hover {
      background: #8abe79; }
  .login-container .failed-login {
    width: 250px;
    margin-top: 10px;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out; }
    .login-container .failed-login.active {
      opacity: 1; }
