@import "constants.scss";

body, html {
    background: #eee;
    font-family: sans-serif;
    font-size: $font-size;
    margin: 0;
    padding: 0;
    padding-bottom: $standard-padding;
}

.button {
    padding: $standard-padding;
    display: inline-block;
    text-decoration: none;
    text-align: center;

    background: #eee;
    color: #333;
    border: 1px solid #aaa;

    &:hover {
        background: lighten(#eee, 10%);
    }

    &.primary {
        background: $accent;
        color: #fff;
        border: 1px solid $accent;

        &:hover {
            background: lighten($accent, 10%);
        }
    }
}

@import "home.scss";
@import "add.scss";
@import "login.scss";