<div ng-include="'/static/views/header.html'"></div>
<div class="note">
    <div class="header">
        Create a new note
        <span class="float-right">
            {{numWords(content)}} / {{maxWords}}
        </span>
    </div>
    <div class="content">
        <input class="input" placeholder="Title" ng-model="title" />
        <textarea name="content" class="input input-larger" ng-model="content" placeholder="Add your note's content here."></textarea>
        <a ng-click="add()" href="#" class="button">Add Note</a>
    </div>
</div>