<div class='entry' ng-hide='deleted'>
    <div class='writing' ng-bind-html-unsafe='markdown(entry.content)'></div>
    <div class='options' ng-show='showOptions'>
        <a ng-hide='wantsDeletion' href='' ng-click='wantsDeletion = true'>
            Delete</a>
        <span ng-show='wantsDeletion'>
            Are you sure?
            <a href='' ng-click='deleteEntry(entry.id)'>Yes</a>
            <a href='' ng-click='wantsDeletion = false'>No</a>
        </span>
        &middot;
        <a ng-href='/#/edit/{{entry.id}}'>Edit</a>
    </div>
</div>