<div class='header'>
    <div class='container'>
        <a ng-href='/#/add' class='button primary  float-left'>
            <i class='fa fa-plus'></i>
            New Entry
        </a>
        <span ng-show='user'>
            <div class='user-image'
                 ng-show='user'
                 ng-style="{'background-image':'url(' + user.image_url + ')'}">
            </div>
            Hello, {{user.name}}!
        </span>
        <a href='' ng-click='logout()'>Logout</a>
    </div>
</div>
<div class='content container'>
    <div class='entries'>
        <entry entry='entry' ng-repeat='entry in entries'></entry>
        <div class='entry' ng-show='entries.length == 0'>
            <p class='writing'>There are no entries yet! You should fix that by writing one now :)</p>
        </div>
    </div>
</div>