<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Jellyfish</title>
  <link rel='stylesheet' href='/static/css/main.css' />
  <link rel='shortcut icon' href='/static/img/jellyfish.png' />
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

  <div ng-view></div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="/static/js/lib/md5.js"></script>
  <script src="/static/js/lib/showdown.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/apiService.js"></script>
  <script src="/static/js/directives/entry.js"></script>
  <script src="/static/js/controllers/home.js"></script>
  <script src="/static/js/controllers/login.js"></script>
  <script src="/static/js/controllers/add.js"></script>
</body>
</html>