<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
  <meta charset="utf-8">
  <title>Jellyfish</title>
  <link rel='stylesheet' href='/static/css/main.css' />
  <link rel='shortcut icon' href='/static/img/jellyfish.png' />
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css' />
</head>
<body>

  <div ng-view></div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="/static/mainApp/lib/md5.js"></script>
  <script src="/static/mainApp/lib/showdown.js"></script>
  <script src="/static/mainApp/js/app.js"></script>
  <script src="/static/mainApp/js/apiService.js"></script>
  <script src="/static/mainApp/js/controllers/home.js"></script>
  <script src="/static/mainApp/js/controllers/add.js"></script>
</body>
</html>